@wscsports:registry=https://wsc-zoomin.pkgs.visualstudio.com/_packaging/Backend/npm/registry/ 
always-auth=true
; begin auth token
//wsc-zoomin.pkgs.visualstudio.com/_packaging/Backend/npm/registry/:username=wsc-zoomin
//wsc-zoomin.pkgs.visualstudio.com/_packaging/Backend/npm/registry/:_password=bmZyNTRwaDJ2bGNnNnV0N29lZ3ZtamxjY3luNW1ncDc1M3g0eGR6a3hha3RsdWU0a2QzYQ==
//wsc-zoomin.pkgs.visualstudio.com/_packaging/Backend/npm/registry/:email=npm requires email to be set but doesn't use the value
//wsc-zoomin.pkgs.visualstudio.com/_packaging/Backend/npm/:username=wsc-zoomin
//wsc-zoomin.pkgs.visualstudio.com/_packaging/Backend/npm/:_password=bmZyNTRwaDJ2bGNnNnV0N29lZ3ZtamxjY3luNW1ncDc1M3g0eGR6a3hha3RsdWU0a2QzYQ==
//wsc-zoomin.pkgs.visualstudio.com/_packaging/Backend/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
